<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista plików AWS S3</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="layout">
    <aside class="sidebar">
        <ul>
            <li><a th:href="@{/}">Strona Główna</a></li>
            <li><a th:href="@{/MSSQL}">MS SQL</a></li>
            <li><a th:href="@{/Mongo}">MongoDB</a></li>
            <li><a th:href="@{/AWS}">AWS S3</a></li>
            <li><a th:href="@{/NetworkDisk}">NetworkDisk</a></li>
        </ul>
    </aside>
    <main class="content">
        <h1>Lista plików - AWS z S3</h1>
        <form method="post" action="/AWS/upload" enctype="multipart/form-data">
            <input type="file" name="file" required/>
            <button type="submit">Dodaj plik</button>
        </form>

        <div th:if="${uploadDuration}">
            <p>Czas dodawania pliku: <span th:text="${uploadDuration}">0</span> ms</p>
        </div>
        <div th:if="${deleteDuration}">
            <p>Czas usuwania pliku: <span th:text="${deleteDuration}">0</span> ms</p>
        </div>
        <form method="post" th:action="@{/AWS/download}">
            <button type="submit">Pokaż czas pobierania</button>
        </form>

        <div th:if="${downloadDuration != null}">
            <div th:if="${downloadDuration == 0}">
                <p>Nie pobrano żadnego pliku.</p>
            </div>
            <div th:if="${downloadDuration > 0}">
                <p>Pobieranie pliku zajęło <span th:text="${downloadDuration}">0</span> ms.</p>
            </div>
        </div>
        <table border="1">
            <thead>
            <tr>
                <th>Nazwa pliku</th>
                <th>Pobierz</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.name}">Nazwa</td>
                <td>
                    <a th:href="@{/AWS/download/{key}(key=${file.id})}">
                        <button>Pobierz</button>
                    </a>
                </td>
                <td>
                    <form method="post" th:action="@{/AWS/delete/{key}(key=${file.id})}">
                        <button type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>
